[Desktop Entry]
Type=Application
Name=Atomes
GenericName=Atomes
Comment=An atomic scale toolbox
Keywords=chemistry;physics;atom;molecule;crystal;coordination;polyedra;measure;volume
Keywords[fr]=chimie;physique;atome;molecule;cristal;coordination;polyèdre;mesure;volume
Keywords[es]=química;física;átomo;molécula;cristal;coordinación;poliedro;medida;volumen
Icon=atomes
Exec=atomes %F
Terminal=false
MimeType=application/x-extension-awf;application/x-extension-apf;
StartupNotify=true
Categories=Education;Science;Chemistry;Physics;
